name: SDK Release

on:
  push:
    paths:
      - 'packages/sdk/**'
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    uses: sisques-labs/workflows/.github/workflows/node-release.yml@main
    secrets: inherit
    with:
      app_path: 'packages/sdk'
      working_directory: 'packages/sdk'
      node_version: '24'
      build_command: 'build'
      use_filter: true
