name: Shared Release

on:
  push:
    paths:
      - 'packages/shared/**'
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.0.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint code
        run: pnpm lint --filter=./packages/shared...

      - name: Check types
        run: pnpm check-types --filter=./packages/shared...

      - name: Build the shared package
        run: pnpm build --filter=./packages/shared...

      - name: Release Please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          manifest-file: .release-please-manifest.json
          config-file: .release-please-config.json
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          skip-github-release: true
